/*This is the css for the about page style sheet this is an addition*/
body, h1,h2,h3,h4,h5,h6, p, a, ul, li {
margin: 0px;
padding: 0px;
font-family: Arial, Helvetica;

}



#container{

	width: 1040px;
	margin:0 auto;
}
#main{

    
    padding:1em;
    background-color:#f04e23; 
	
}
#main img{

    width:100%;
    margin:0px 0px;
    
	
}
#pic1 {
	background: url(http://www.un.org/News/dh/photos/large/2015/February/02-09-2015unicef.jpg);
	height: 500px;
	width: 1010px;
}
nav
{
	height: 20px;
	width: 100%;
	padding: 1em 0px;
	background-color:#C9C8BD; 
	border-top: 5px solid #FFFFFF ;
}
nav ul li a{
	text-decoration: none;
	color:#FFFFFF;
}
nav ul li{
display: inline;
margin-left: 1em;



}

/*article{
	width: 410px;
	display:inline-block;
	border-left: 1px solid #FFFFFF;
	line-height:1.5em;
    padding: 34px;;
    color:#FFFFFF;
}
article #no-go{
	/*width: 410px;
	display:inline-block;
	line-height:1.5em;
	text-align: center;
    padding: 34px;;
    color:#FFFFFF;
}*/
#one {
	line-height: 1.5em;
}
#two {
	line-height: 1.5em;
	margin-top: 30px;
}
h1 {
	text-align: center;
	color: #ffffff;
}
p {
	text-align: center;
	color: #ffffff;
}
header{
	
	background-color: #f04e23;
	padding-top: 1em;

}
#border{
	border-right:1px solid black;
}

#donate {
	background-color:#C9C8BD;
    color: #FFFFFF;
    font-size: 14px;
    display: inline;
    height: 53px;
    margin-top: 10px;
    margin-left: 877px;
    width: 144px;

}
#donate2 {
	background-color:#f04e23;
    color: #FFFFFF;
    font-size: 14px;
    display: inline;
    height: 53px;
    margin-left: 14px;
    margin-top: 1.2em;
    width: 144px;

}
footer{
	height: 80px;
	background-color:#C9C8BD;
}
footer p{
color: #FFFFFF;
    float: right;
    margin-right: 1em;
    margin-top: 3.2em;

}
header img{
	width: 100px;
	padding:0px;
	margin: 0px;
}
#plogo {
	width: 50px;
	margin: auto;
}