html, body {
	margin: 0;
	padding: 0;
}

nav {
	/*border: 1px solid black;*/
	width: 100%;
}

ul li {
	list-style-type: none;
	display: inline-block;
	padding: 0px 15px;
}

.header {
	background-image: url("http://1.bp.blogspot.com/_6rCH2WGqEpo/TElYgnlDfLI/AAAAAAAAACc/pqJsyLnHHoM/s1600/DSC07297.JPG");
	background-position: -100px -375px;
	height: 300px;
	width: 100%;
	margin-top: 40px;
}
button {
	font-size: 16px;
	color: white;
	background-color: green;
	float: right;
	margin-top: 10px;
	margin-right: 10px;
}
p img {
	height: 150px;
	width: 150px; 
}
div {
    -webkit-column-count: 4; 
    -moz-column-count: 4; 
    column-count: 4;
    display: inline-block;
    margin-top: 30px;
}
footer {
	height: 80px;
	background-color: yellow;
}